.search-bar[type="text"] {
    left:0;
    top:0;
    flex: 1;
    height: 36px;  
    padding-left: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px 
    rgb(0 , 0, 0, 0.10);

    
}
.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;


}

.header{
    margin-top: 0;
    height: 55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(212, 212, 212)
    

}
.left-section{
     
     display: flex;
     align-items: center;
     cursor: pointer;
     
     
}
.left-section:hover{
    opacity: .8;
}
.left-section:active{
    opacity: .3;
}

.middle-section{
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    
    
}
.right-section{
   margin-right: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
     cursor: pointer;

}   
.youtube-logo{
    height: 25px;

    

}
.hamburger-menu{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.search-button{
    height:39.5px ;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}
.search-button .tooltip,
 .voice-button .tooltip{
    background-color: grey;
    position: absolute;
    color: white;
    padding-top:4px ;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    bottom: -25px;
    opacity: 0;
    transition: .3s;

    pointer-events: none;
}
.search-button:hover .tooltip, .voice-button:hover .tooltip
{
    opacity: 1;

}
 .voice-button{
    height: 40px;
    width:40px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(245, 245, 245);
display: flex;
justify-content: center;
cursor: pointer;
 }
.search-icon{
    height: 28px;

}





.voice-icon{
    height: 24px;
    margin-top: 4px;
}
.upload-button{
    height: 20px;
}
.apps-button{
    height: 20px;
}
.notifications-button{
    height: 20px;
}
.notifications-container{
    position: relative;

}
.notifications-count{
    position: absolute;
    top:-1px;
    right: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: red;
    color: white;
    font-family: roboto,arial;
    border-radius: 20px;
  

    font-size: 6px;


}
.my-icon{
    height: 30px;
}